services:
  opencloud:
    image: opencloudeu/opencloud:latest
    container_name: opencloud
    restart: unless-stopped
    ports:
      - "9200:9200"
    volumes:
      - ./config:/etc/opencloud
      - ./data:/var/lib/opencloud
      - /volume2/docker/dockhand:/app/data
      - /volume1/MyFiles:/volume1/MyFiles
    env_file:
      - .env
    extra_hosts:
      - "dxp2800-0aef.tail10d5bf.ts.net:127.0.0.1"
    entrypoint: /bin/sh
    command: -c "opencloud init || true; opencloud server"
    user: "1000:1000"
    networks:
      - opencloud_opencloud-net

networks:
  opencloud_opencloud-net:
    external: true
    name: opencloud_opencloud-net   
